<div ng-init="init()">

    <button type="button" class="btn btn-primary btn-lg " ng-click="add()">Block level button</button>

    <div class="row">
        <div ng-repeat="pet in pets">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img data-ng-src="data:image/jpeg;base64,{{pet.base64Image}}">
                    <div class="caption">
                        <h3>{{pet.name}}</h3>
                        <h5>{{pet.type.name}}</h5>
                        <p class="text-muted">{{pet.bio}}</p>
                    </div>
                    <button type="button" class="btn btn-primary btn-link " ng-click="delete(pet.id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>