<div ng-init="init()">
    <a href="#" class="btn btn-primary" ng-click="add()" role="button">Add a pet</a>

    <div class="row">
        <div ng-repeat="pet in pets">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img data-ng-src="data:image/jpeg;base64,{{pet.base64Image}}">
                    <div class="caption">
                        <h3>{{pet.name}}</h3>
                        <p>...</p>
                    </div>
                    <a href="#" class="btn btn-primary" ng-click="delete(pet.id)" role="button">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
