<div>
    <div class="modal-header">
        <button class="close" ng-click="$dismiss()"><i class="fa fa-times"></i></button>
        <h4 class="modal-title">Add Pet</h4>
    </div>
    <form class="modal-body" form-error-handler>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" placeholder="Enter name..." ng-model="pet.name">
        </div>
        <div class="form-group">
            <label for="petType">Type</label>
            <select class="form-control" ng-model="pet.type" id="petType">
                <option value="DOG">Dog</option>
                <option value="CAT">Cat</option>
                <option value="HAMSTER">Hamster</option>
                <option ng-if="!pet.type" value="">Choose type</option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label" for="petBio">Bio</label>
            <textarea id="petBio" class="form-control" rows="4" ng-model="pet.bio"
                      placeholder="Enter bio..."></textarea>
        </div>


        <div class="form-group">
            <label for="petImage">Upload image</label>
            <input type="file" class="form-control-file" id="petImage" uploader="upload">
            <!--<small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>-->
        </div>
    </form>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary pull-left"
                ng-click="performAction()">
            Add
        </button>
        <button type="button" class="btn btn-link pull-left" ng-click="$dismiss()">
            Cancel
        </button>
    </div>
</div>