<div id="Login">
    <div class="row" ng-if="error">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
            <div class="alert alert-danger login-error error text-center">There was a problem logging in. Please try again.</div>
        </div>
    </div>
    <div class="row">
        <div class="body-content">
            <h2>Sign In</h2>
            <hr>
            <form novalidate class="login-form" name="loginForm" ng-submit="login()">
                <div class="form-group"
                     ng-class="{'has-error': form.credentials.username.$invalid && !form.credentials.username.$pristine}">
                    <label class="text-left" for="username">Username</label>
                    <input class="form-control" type="text" id="username" name="username"
                           ng-model="credentials.username" required
                           ng-focus="usernameFocused = true" ng-init="usernameFocused = false"
                           ng-blur="usernameFocused = false">
                </div>
                <div class="form-group"
                     ng-class="{'has-error': form.credentials.password.$invalid && !form.credentials.password.$pristine}">
                    <label class="text-left" for="password">Password</label>
                    <input class="form-control" type="password" id="password" name="password"
                           ng-model="credentials.password" required ng-trim="false" autocomplete="off"
                           ng-focus="passwordFocused = true" ng-init="passwordFocused = false"
                           ng-blur="passwordFocused = false">
                </div>
                <div class="row action-row">
                    <div class="col-md-4 col-sm-5">
                        <button class="btn-sign-in btn btn-success" type="submit"
                                ng-disabled="loginForm.$invalid || dataLoading">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
