<div ng-init="init()">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Pet Store</a>
            </div>
            <div id="navbar">
                <form class="navbar-form navbar-right">
                    <div class="form-group" ng-if="hasPermission('READ')">
                        <input type="text" class="form-control" placeholder="Search" ng-model="query"
                               ng-model-options="{ debounce: 300 }">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="add()" ng-if="hasPermission('CREATE')">
                        Add pet
                    </button>
                    <button type="submit" class="btn btn-default" ng-click="logout()" ng-if="signedIn()">
                        Sign Out
                    </button>
                </form>
            </div>
        </div>
    </nav>

    <div class="row" style="margin-top: 50px;margin-left: 40px">
        <div ng-repeat="pet in pets" class="col-md-4 panel-body" style="height: 500px">
            <div class="thumbnail">
                <img data-ng-src="data:image/jpeg;base64,{{pet.image}}">
                <div class="caption">
                    <h3>{{pet.name}}</h3>
                    <h5>{{pet.type.name}}</h5>
                    <p class="text-muted">{{pet.bio}}</p>
                </div>
                <button ng-if="hasPermission('DELETE')" type="button" class="btn btn-primary btn-link"
                        ng-click="delete(pet)">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>