#PetPage {

	.row {
		margin-top: 50px;
		margin-left: 30px;
	}

	.thumbnail {
		margin-left: 20px;
	}

	img {
		display: block;
		max-width: 95%;
		max-height: 95%;
		width: auto;
		height: auto;
	}
}